---
import Image from "../assets/image-qr-code.png";
---

<main class="flex justify-center items-center min-h-screen px-4">
  <div class="flex flex-col rounded-2xl p-4 bg-white items-center max-w-80">
    <img src={Image.src} alt="QR Code" class="mb-4 rounded-lg" />
    <h1
      class="text-[22px] text-slate-900 text-center px-4 my-2 font-[700] leading-tight"
    >
      Improve your front-end skills by building projects
    </h1>
    <p
      class="text-center text-slate-500 px-4 text-[15px] my-2 font-[400] leading-tight"
    >
      Scan the QR code to visit Frontend Mentor and take your coding skills to
      the next level
    </p>
  </div>
</main>
